* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* 
#043927
#0B6623
#2E8B57
#98FB98
#9DC183
 */

body {
    color: #3C3F43;
    background-color: #F8FAFB
}

main {
    align-items: center;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}