.formEntry {
    padding-top: 40px;
    text-align: left;
}

fieldset {
    margin: 10px 0;
    border: none;
}

input {
    outline: none;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #98FB987e;
    clear: both;
    color: #3C3F43;
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
}

input[type="submit"] {
    float: none;
}

input:hover,
input:focus {
    /* border: 1px solid #98FB98; */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(144, 252, 144, 0.6);
}

input[type="text"] {
    padding: 10px 10px 10px 20px;
}

.submitBtn {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    border-radius: 14px;
    border: 1px solid rgb(144, 252, 144);
    background-color: #0B6623;
    box-shadow: inset 0 -1px 0 0 #2E8B57, inset 0 1px 0 0 #2E8B57, 0 2px 0 0 #98FB98;
    cursor: pointer;
    align-self: flex-end;
    padding: 7px 30px;
    text-transform: uppercase;
    opacity: 1;
}

input[type="email"] {
    padding: 10px 10px 10px 20px;
}

input[type="password"] {
    padding: 10px 10px 10px 20px;
}