header {
    width: 100%;
    height: 45px;
    background: #ffffff;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 5;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    position: fixed;
    padding: 0 33px;
}

.title>a {
    color: #0B6623;
    line-height: 20px;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}

.navg {
    margin: 0 0 0 50px;
    display: none;
}

.navg>div {
    padding: 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.6;
}

.navg>div>a {
    text-decoration: none;
    -moz-text-decoration: none;
    color: #0B6623;
    font-weight: 400;
    font-size: 16px;
}

.account {
    margin: 0 0 0 auto;
    align-items: center;
    display: flex;
}

.account div {
    margin-right: 8px;
}

.quickBtn {
    background-color: #98FB98;
    padding: 0 18px;
    line-height: 2.6;
    border-radius: 25px 0 25px 0;
}

.quickBtn a {
    text-decoration: none;
}

.accountDrop {
    margin: 0 0 0 auto;
    display: inline-block;
    position: relative;
}

.accountDrop>.accountDropBtn {
    cursor: pointer;
    height: 33px;
    width: 115px;
    border-radius: 16px;
    color: #FFFFFF;
    font-size: 15px;
    border: none;
    font-weight: 500;
    background-color: #0B6623;
    box-shadow: inset 0 -1px 0 0 #2E8B57, inset 0 1px 0 0 #2E8B57, 0 2px 0 0 #98FB98;
}

.accountDrop>.accountDropBtn:hover {
    background: #000B1D4d;
}

.accountDrop>.accountElements {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 145px;
    cursor: pointer;
    color: #755c00;
    left: -15px;
    background: linear-gradient(180deg, #F8FAFB 0%, #a3fda3 100%);
    box-shadow: inset 0 -2px 0 0 #90fc90;
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;
}

.accountDrop>.accountElements a {
    padding-top: 14px;
    text-align: center;
    text-decoration: none;
    height: 48px;
    display: block;
    color: #323234;
}

.accountDrop>.accountElements a:hover {
    color: #2E8B57;
}

.accountDrop:hover .accountElements {
    display: block;
}

@media only screen and (max-width: 777px) {
    .navg {
        display: flex;
    }
    .accountDropBtn {
        display: none;
    }
    .leftSide {
        display: none !important;
        align-items: center;
    }
}
