* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}


/* 
#043927
#0B6623
#2E8B57
#98FB98
#9DC183
 */

body {
    color: #3C3F43;
    background-color: #F8FAFB
}

header {
    width: 100%;
    height: 45px;
    background: #ffffff;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 5;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    position: fixed;
    padding: 0 33px;
}

.title>a {
    color: #0B6623;
    line-height: 24px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.appTitle>a {
    color: #2E8B57;
}

.navg {
    margin: 0 0 0 50px;
    display: flex;
}

.navg>div {
    padding: 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.6;
}

.navg>div>a {
    text-decoration: none;
    -moz-text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}

.account {
    margin: 0 0 0 auto;
    align-items: center;
    display: flex;
}

.account div {
    margin-right: 8px;
}

.quickBtn {
    background-color: #98FB98;
    padding: 0 18px;
    line-height: 2.6;
    border-radius: 25px 0 25px 0;
}

.quickBtn a {
    text-decoration: none;
}

.accountDrop {
    margin: 0 0 0 auto;
    display: inline-block;
    position: relative;
}

.accountDrop>.accountDropBtn {
    cursor: pointer;
    height: 33px;
    width: 115px;
    border-radius: 16px;
    color: #FFFFFF;
    font-size: 12px;
    border: none;
    font-weight: 600;
    background-color: #0B6623;
    box-shadow: inset 0 -1px 0 0 #2E8B57, inset 0 1px 0 0 #98FB98, 0 2px 0 0 #2E8B57;
}

.accountDrop>.accountDropBtn:hover {
    background: #000B1D4d;
}

.accountDrop>.accountElements {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 145px;
    cursor: pointer;
    color: #755c00;
    left: -15px;
    background: linear-gradient(180deg, #F8FAFB 0%, #DDEDF4 100%);
    box-shadow: inset 0 -2px 0 0 #6BC1FF;
    font-size: 12px;
    font-weight: 600;
    border-radius: 15px;
}

.accountDrop>.accountElements a {
    padding-top: 14px;
    text-align: center;
    text-decoration: none;
    height: 48px;
    display: block;
    color: #323234;
}

.accountDrop>.accountElements a:hover {
    color: #2E8B57;
}

.accountDrop:hover .accountElements {
    display: block;
}

@media only screen and (max-width: 777px) {
    .navg {
        display: none;
    }
    .accountDropBtn {
        display: none;
    }
}

main {
    align-items: center;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: #ffffff;
    width: 448px;
    height: auto;
    min-height: 530px;
    border: 1px solid rgba(190, 213, 229, 0.52);
    border-radius: 7px;
    padding: 45px 40px 20px;
    margin: 10px 0;
}

.signFrame {
    text-align: center;
}

.appTitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    padding-top: 16px;
}

.appTitle>a {
    text-decoration: none;
}

.subTitle {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

.formEntry {
    padding-top: 40px;
    text-align: left;
}

fieldset {
    margin: 10px 0;
    border: none;
}

input {
    outline: none;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #98FB987e;
    clear: both;
    color: #3C3F43;
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
}

input[type="submit"] {
    float: none;
}

input:hover,
input:focus {
    /* border: 1px solid #98FB98; */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(144, 252, 144, 0.6);
}

input[type="text"] {
    padding: 10px 10px 10px 20px;
}

.submitBtn {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    border-radius: 14px;
    border: 1px solid rgb(144, 252, 144);
    background-color: #0B6623;
    box-shadow: inset 0 -1px 0 0 #2E8B57, inset 0 1px 0 0 #2E8B57, 0 2px 0 0 #98FB98;
    cursor: pointer;
    align-self: flex-end;
    padding: 7px 30px;
    text-transform: uppercase;
    opacity: 1;
}

.messageSign {
    font-size: 14px;
    padding-top: 20px;
    color: #0B6623;
}

input[type="email"] {
    padding: 10px 10px 10px 20px;
}

input[type="password"] {
    padding: 10px 10px 10px 20px;
}